<a href="https://colab.research.google.com/github/PatriciaReyesAv/Proyecto_02/blob/main/7_11_Proyecto_02__Parte_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score, RocCurveDisplay, accuracy_score, confusion_matrix
from sklearn import datasets, metrics, model_selection, svm

In [21]:
df=pd.read_csv('/content/drive/MyDrive/Coding Dojo/Semana 07/avocado.csv')
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   Total Bags    18249 non-null  float64
 8   Small Bags    18249 non-null  float64
 9   Large Bags    18249 non-null  float64
 10  XLarge Bags   18249 non-null  float64
 11  type          18249 non-null  object
 12  year          18249 non-null  int64
 13  region        18249 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB

In [ ]:
# 1.0 Fuente de datos
# Son datos libres de Kaggle https://www.kaggle.com/datasets

In [ ]:
# 2.0 Breve descripción de datos
# El conjunto de datos describe la venta de aguacates realizados desde el año 2013 hasta el 2018, teniendo en cuenta el tipo, el tamaño, la region.

In [ ]:
# 3.0 ¿Cuál es el objetivo?
# Identificar que tipo de aguacates son los más vendidos.

In [ ]:
# 4.0 ¿Este es un problema de clasificación o regresión?
# Es un problema de clasificación ya que queremos predecir el tipo de aguacates de mayor venta.

In [18]:
# 5.0 ¿Cuántas características hay?
print(' El numero de características es:',len(df.columns))

 El numero de características es: 14

In [20]:
# 6.0 ¿Cuántas filas de datos hay?
print('El número de filas es:',len(df))

El número de filas es: 18249

In [ ]:
# 7.0 ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos
# RETOS:
# 7.1 Escalamiento de datos
# 7.2 Encontrar la correlación entre los diferentes datos.
# 7.3 No hay datos nulos

In [22]:
df1=pd.read_csv('/content/drive/MyDrive/Coding Dojo/Semana 07/ds_salaries.csv')
df1.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

In [ ]:
# 1.0 Fuente de datos
# Son datos libres de Kaggle https://www.kaggle.com/datasets

In [ ]:
# 2.0 Breve descripción de datos
# Este dataset continen diversas características realcionadas al salario de los DataScientist, en base a la evaluación de otras características.

In [ ]:
# 3.0 ¿Cuál es el objetivo?
# Predecir el salario de los DataScientist

In [ ]:
# 4.0 ¿Este es un problema de clasificación o regresión?
# Es un probblema de Regresión

In [29]:
# 5.0 ¿Cuántas características hay?
print('La cantidad de características son:',len(df1.columns))

La cantidad de características son: 11

In [30]:
# 6.0 ¿Cuántas filas de datos hay?
print('La cantidad de filas son:',len(df1))

La cantidad de filas son: 3755

In [ ]:
# 7.0 ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?
# RETOS:
# 7.1 Encontrar la correlación entre los datos que más influyen en los salarios.
# 7.2 Estandarizar los datos
# 7.3 No existen datos nulos